body {
    background: #012c57de;
}

.App {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}

.navbar {
    background-color: black;
}

.navbar .nav-link {
    color: white;
}