body {
    background: linear-gradient(rgba(0, 81, 255, 0.795), rgba(13, 47, 160, 0.651));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.header {
    height: 100px; /* Примерная высота шапки */
    background-color: #080c1c; /* Цвет шапки */
    z-index: 1; /* Установка z-index, чтобы шапка оставалась наверху */
  }

.App {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    
}

.navbar {
    background-color: #151743;
}

.navbar .nav-link {
    color: #dbdac0;
}