.list-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album-card .album-image img {
  width: 60px;
  height: 60px;
  border: 3px solid rgb(153, 152, 152); 
  border-style: inset;
  margin-right: 10px;
}


.dateblock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45px;
  height: 50px;
  border: 1px solid rgb(46, 32, 32);
  background-color: rgb(24, 54, 110);
  margin-top: 25px;
  margin-left: 8px;
  border-radius: 4px;
  color: #788888;

}

.album-card {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: 1px solid #15295ed7;
  border-radius: 5px;
  background-color: #354e79c4
}

.album-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.album-details {
  margin-left: 10px;
}

.album-title {
  font-weight: bold;
}

.album-publisher {
  color: #888;
}


.album-col {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff00;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.album-col .album-image {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.album-col .album-details {
  flex: 1;
}

.album-col .album-title {
  font-weight: bold;
}

.album-col .album-publisher {
  color: #888;
}
