.album-from {
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 400px;
  margin: 750px auto 0; /* Здесь значение margin-top увеличено на 200px */
}

.album-from input[type="text"],
.album-from input[type="number"] {
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
}

.album-from h1 {
  margin-bottom: 10px;
}

.album-from label {
  margin-top: 10px;
  display: block; /* Добавлено свойство display: block; чтобы поместить надпись над input */
}

.album-from input,
.album-from select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.album-from .form-inline {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.album-from .form-row {
  display: flex;
  flex-direction: column;
  margin-right: 10px; /* Добавлен разрыв между label и input */
}

.album-from .button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.album-from .button.add {
  border: 1px solid #000;
}

.album-from .button-section {
  display: flex;
  justify-content: space-between;
}

.album-from .button.remove {
  border: 1px solid #000; /* Добавлен стиль рамки к кнопкам "Remove" */
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 60px;
}