@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
  min-height: 100vh;
  background-color: blue;
}

.register-form {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 650px;
  font-family: 'Poppins', sans-serif;
}

.form-group{
  letter-spacing: 1px;
  padding-top: 20px;
}

label{
  padding-bottom: 5px;
}